# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo TypeScript
*.tsbuildinfo